<form class='entry' action='/waiterDays/{{username}}' method='post'>
<h1> Choose days to work! </h1>

Hello, please select your days <span style="color:red">{{username}}</span>

<div class='week'>
<input type="checkbox" name="week" value="Sunday">Sunday<br>
<input type="checkbox" name="week" value="Monday">Monday<br>
<input type="checkbox" name="week" value="Tuesday">Tuesday<br>
<input type="checkbox" name="week" value="Wednesday">Wednesday<br>
<input type="checkbox" name="week" value="Thursday">Thursday<br>
<input type="checkbox" name="week" value="Friday">Friday<br>
<input type="checkbox" name="week" value="Saturday">Saturday<br><br>
<input type='submit' value='Submit'> </input>

{{checkedDays}}

<div class='message'>
{{message.error}}
</div>

</div>
</form>
