<form class='entry' action='/days' method='post'>
<h1> Work Schedule </h1>
<table>
  <tr>
  <th>Sunday</th>
  <th>Monday</th>
  <th>Tuesday</th>
  <th>Wednesday</th>
  <th>Thursday</th>
  <th>Friday</th>
  <th>Saturday</th>
</tr>
{{scheduleDays}}
</table>
</form>
