body{
  background-color: white;

}

h1{
  background-color: Black;
  color: white;
  text-align: center;
}

.week {
  margin-left: 434px;
  margin-top: 90px;
}

span{
  font-size: 15px
  font-weight : bold;
}

table th{
  text-align: center;
  border: 1px solid black;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.orange{
  background-color: orange;
}
